doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title formidable islands
    //link(rel='stylesheet', href='style/reset.css')
    link(rel='stylesheet' href='style/style.css')
    script(defer, src='js/app.js')
  body
    .canvas-container
      canvas#canvas(width='1000', height='600')
